<footer>
    <div id="footer" class="container">
        <!-- Nav -->
        <div id="footer-nav">
            <ul>
                {% for navbar in navbars %}
                    <li><a href="{{navbar.link}}" title="{{navbar.title}}" >{{navbar.title}}</a></li>
                {% endfor %}
                <li><a href="/admin/login" title="Accès pro" class="btn btn-outline-orange">Accès pro</a></li>
            </ul>
        </div>
        <!-- Contact -->
        <div id="footer-contact">
            <h3>Nous contacter : </h3>
            <p>{{society.address}}</p>
            <p>{{society.cp}} {{society.town|upper}}</p>
            <ul>
                <li><a href="mailto:{{society.mail}}">{{society.mail}}</a></li>
                <li><a href="tel:{{society.phone}}">{{society.phone}}</a></li>
            </ul>
        </div>
        <!-- Social medias -->
        <div id="footer-social">
            <h3>Nous suivre : </h3>
            <ul>
                {% if society.twitter %}
                <li>
                    <a href="{{society.twitter}}" target="_blank" title="Nous suivre sur Twitter" >
                        <span class="fa-stack fa-lg"><i class="fa fa-twitter fa-stack-1x"></i></span>
                         Twitter
                    </a>
                </li>
                {% endif %}
                {% if society.facebook %}
                <li>
                    <a href="{{society.facebook}}" target="_blank" title="Notre page Facebook" >
                        <span class="fa-stack fa-lg"><i class="fa fa-facebook fa-stack-1x"></i></span>
                         Facebook
                    </a>
                </li>
                {% endif %}
                {% if society.instagram %}
                <li>
                    <a href="{{society.instagram}}" target="_blank" title="Les plus belles photos et vidéos" >
                        <span class="fa-stack fa-lg"><i class="fa fa-instagram fa-stack-1x"></i></span>
                         Instagram
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</footer>
