<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand col-md-4 col-sm-12" href="/">
        {% if society.picture %}
            <img src="{{society.picture}}" width="150"  alt="logo {{society.name}}">
        {% endif %}
        {% if society.name %}
            <h1>{{society.name}}</h1>
        {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% for key, navbar in navbars %}
                <li class="nav-item {{ current == key ? " active" }}">
                    <a class="nav-link" href="{{navbar.link}}">{{navbar.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
