<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if society.name %}
        <title>{{society.name}} || Connexion</title>
    {% else %}
        <title>Première Connexion</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styleAdmin.css">
</head>

<body id="login-form" class="text-center" cz-shortcut-listen="true">
    <!-- Content -->

    <form role="form" action="/admin/login" method="POST" class="form-signin">
        {% if society.picture %}
            <img src="{{society.picture}}" width="150"  alt="logo {{society.name}}">
        {% endif %}
        <h2 class="h3 mb-3 font-weight-normal">
            Veuillez entrer votre identifiant et votre mot de passe :
        </h2>
        <div class="form-group">
            <label>Identifiant :</label>
            <input type="email" id="email" name="email" class="form-control
                {% if errorMail is not null %}is-invalid{% endif %}">
            <div class="invalid-feedback mx-auto">
                {{ errorMail }}
            </div>
        </div>
        <div class="form-group">
            <label>Mot de passe :</label>
            <input type="password" id="password" name="password" class="form-control
                {% if errorMdp is not null %}is-invalid{% endif %}">
            <div class="invalid-feedback mx-auto">
                {{ errorMdp }}
            </div>
        </div>
        <div>
            <div class="invalid-feedback error-connexion mx-auto">
                {{ errorConnexion }}
            </div>
        </div>
        <div class="block-buttons">
            <a href="/" class="btn btn-dark" alt="Retour au site">Retour</a>
            <button type="submit" class="btn btn-outline-orange">Connexion</button>
        </div>
    </form>
    <!-- Content -->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
