{% extends "adminLogin.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

    <form role="form" action="/admin/login" method="POST" class="form-signin">
        {% if society.picture %}
            <img src="{{society.picture}}" width="150"  alt="logo {{society.name}}">
        {% endif %}
        <h2 class="h3 mb-3 font-weight-normal">
            Veuillez entrer votre identifiant et votre mot de passe :
        </h2>
        <div class="form-group">
            <label>Identifiant :</label>
            <input type="email" id="email" name="email" class="form-control
                {% if errorMail is not null %}is-invalid{% endif %}">
            <div class="invalid-feedback mx-auto">
                {{ errorMail }}
            </div>
        </div>
        <div class="form-group">
            <label>Mot de passe :</label>
            <input type="password" id="password" name="password" class="form-control
                {% if errorMdp is not null %}is-invalid{% endif %}">
            <div class="invalid-feedback mx-auto">
                {{ errorMdp }}
            </div>
        </div>
        <div>
            <div class="invalid-feedback error-connexion mx-auto">
                {{ errorConnexion }}
            </div>
        </div>
        <div class="block-buttons">
            <a href="/" class="btn btn-dark" alt="Retour au site">Retour</a>
            <button type="submit" class="btn btn-outline-orange">Connexion</button>
        </div>
    </form>
{% endblock %}
