{% extends 'layout.html.twig' %}

{% block title %}{{society.name|capitalize}} || {{navbar.title}}{% endblock %}

{% block content %}

    <form class="container-input" id="contact" method="post" action="/comments/send">

        <h2 class="top-title">FORMULAIRE DE CONTACT</h2>

        <div class="row col-12 justify-content-center {% if lastNameError is not null %}is-invalid{% endif %}">
            <input type="text"  id="last_name" name="lastname" aria-label="Nom" placeholder="Nom">
            <div class="invalid-feedback">
                {{ lastNameError }}
            </div>
        </div>

        <div class="row col-12 justify-content-center {% if firstNameError is not null %}is-invalid{% endif %}">
            <input type="text"  id="first_name" name="firstname" aria-label="Prénom" placeholder="Prénom">
            <div class="invalid-feedback">
                {{ firstNameError }}
            </div>
        </div>

        <div class="row col-12 justify-content-center {% if userEmailError is not null %}is-invalid{% endif %}">
            <input type="text" id="mail" name="user_email" aria-label="Email" placeholder="Email">
            <div class="invalid-feedback">
                {{ userEmailError }}
            </div>
        </div>

        <div class="row col-12 justify-content-center {% if objectError is not null %}is-invalid{% endif %}">
            <input type="text"  id="object" name="object" aria-label="Objet" placeholder="Objet">
            <div class="invalid-feedback">
                {{ objectError }}
            </div>
        </div>

        <div class="row col-12 justify-content-center {% if userMessageError is not null %}is-invalid{% endif %}">
            <textarea id="msg" name="user_message" aria-label="Message" placeholder="Message"></textarea>
            <div class="invalid-feedback">
                {{ userMessageError }}
            </div>
        </div>

        <div class="form_input justify-content-center">
            <button type="submit" class="button" onclick="alert('Message envoyé !');">Envoyer !</button>
        </div>

    </form>

{% endblock %}
