{% extends 'layout.html.twig' %}

{% block title %}{{society.name|capitalize}} || {{navbar.title}}{% endblock %}

{% block content %}
<div class="container">

    <section class="informations-card">
        <div class="row">
            <div class="col-12 header">
                <h2 class="top-title-1">Comment nous trouver ?</h2>
                <h3 class="subtitle-1">Fastoche...</h3>
            </div>
            <div class="col-12 body">
                <div class="text">
                    <p>{{society.address}}</p>
                    <p>{{society.cp}} {{society.town|upper}}</p>
                    <a href="tel:+{{society.phone}}"><p>{{society.phone}}</p></a>
                </div>
                <div class="picture body-map">
                    <iframe src="{{society.google_map}}" class="map" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>

    <section class="informations-card">
        <div class="row">
            <div class="col-12 header">
                <h2 class="top-title-2">Comment je peux venir ?</h2>
                <h3 class="subtitle-2">Trop bien...</h3>
            </div>
            <div class="col-12 body">
                <div class="picture">
                </div>
                <div class="text">
                    <p>En voiture : GPS 47°12'26.4"N 1°33'20.1"W <a class="link-orange" href="https://metropole.nantes.fr/services/deplacements-stationnement" target="_blank">Voir</a></p>
                    <p>En bus : Arrêt République - Ligne 26 ou C5 <a class="link-orange" href="https://www.tan.fr/fr/itineraires" target="_blank">Rechercher un itinéraire</a></p>
                    <p>En tram : Arrêt Médiathèque ou Commerce <a class="link-orange" href="https://www.tan.fr/fr/itineraires" target="_blank">Rechercher un itinéraire</a></p>
                    <p>En covoiturage : <a class="link-orange" href="https://www.ouestgo.fr/" target="_blank">Voir</a></p>
                    <p>En vélo : <a class="link-orange" href="https://www.bicloo.nantesmetropole.fr/fr/home" target="_blank">Voir</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="informations-card">
        <div class="row">
            <div class="col-12 header">
                <h2 class="top-title-3">Et on se gare où ?</h2>
                <h3 class="subtitle-3">Ouais ça serait cool...</h3>
            </div>
            <div class="col-12 body">
                <div class="text">
                    <p>Parking 1 : Les Machines de Nantes</p>
                    <p>Adresse : 10 rue Arthur III 44200 NANTES</p>
                    <p>Distance à pied : 8 minutes</p>
                    <p>Parking 2 : Gloriette</p>
                    <p>Adresse : 7 quai de Tourville 44200 NANTES</p>
                    <p>Distance à pied : 6 minutes</p>
                </div>
                <div class="picture">
                </div>
            </div>
        </div>
    </section>

    <section class="informations-card">
        <div class="row">
            <div class="col-12 header">
                <h2 class="top-title-4">Quels sont nos équipements ?</h2>
                <h3 class="subtitle-4">WoW ! Dingue...</h3>
            </div>
            <div class="col-12 body">
                <div class="picture">
                </div>
                <div class="text">
                    <p>Capacité : 550 pers.</p>
                    <p>Accessibilié : rampe et espace dédié dans la salle</p>
                    <p>Vestiaires : Deux (un à chaque entrée)</p>
                    <p>Bar : Bière, Soft drinks, Eau minérale, Café</p>
                    <p>Snack : Sandwich, Hot dog, Frites</p>
                </div>
            </div>
        </div>
    </section>

    <section class="informations-card">
        <div class="row">
            <div class="col-12 header">
                <h2 class="top-title-5">A quelle heure on s'ambiance ?</h2>
                <h3 class="subtitle-5">C'est parti !!!</h3>
            </div>
            <div class="col-12 body">
                <div class="text">
                    <p>Ouverture des portes : 1/2 heure avant le début des concerts</p>
                    <p>Ouverture du bar/snack : Entracte et fin de spectacle</p>
                    <p>Horaires du bureau : Du lundi au vendredi de 13h30 à 17h30</p>
                </div>
                <div class="picture">
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}
