{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <div>
        <h1 class="top-title">{{ details.title }}</h1>
        <p>Le {{ details.date_time }}</p>
        <div class="event-card">
            <img src="{{ details.image }}" alt="">
            <p>{{ details.description }}</p>
        </div>
        <p>{{ details.price }}</p>
        <a href="{{ details.link }}">{{ details.link }}</a>
        <iframe width="350" height="210" src="{{ details.video }}">
        </iframe>
    </div>
{% endblock %}