{% extends 'adminLayout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

    <section>

        <h1>Gestion des messages : </h1>
        <!-- affichage des demandes -->
        <div class="row">
            <table class="table col-12">
                <thead class="table-striped">
                    <tr class="bg-warning">
                        <th scope="col">Nom</th>
                        <th scope="col">Date</th>
                        <th scope="col">Objet</th>
                        <th scope="col">Répondre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td>{{ comment.lastname }} {{ comment.firstname }}</td>
                            <td>{{ comment.date_time|date("d/m/Y") }}</td>
                            <td>{{ comment.object }}</td>
                            <td><button type="button" class="btn btn-success">
                                    <a class="text-white col-3" href="/comments/display/{{ comment.id }}">Répondre</a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </section>

{% endblock %}
