{% extends 'adminLayout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1 class="text-center">Traitement de la demande n° {{ comments.id }} :</h1>
    <form class="bg-light border m-3 p-3">
        <div class="form-group row">
            <!-- date -->
            <label class="col-sm-4 col-form-label">Date : </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext"
                       aria-describedby="email" value="{{ comments.date_time }}" disabled>
            </div>
            <!-- nom et prénom -->
            <label class="col-sm-4 col-form-label">Nom et prénom : </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext"
                       aria-describedby="email" value="{{ comments.lastname }} {{ comments.firstname }}" disabled>
            </div>
            <!-- email -->
            <label class="col-sm-4 col-form-label">Email : </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext"
                       aria-describedby="email" value="{{ comments.email }}" disabled>
            </div>
            <!-- type -->
            <label class="col-sm-4 col-form-label">Type : </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext"
                       aria-describedby="email" value="{{ comments.type }}" disabled>
            </div>
            <!-- date -->
            <label class="col-sm-4 col-form-label">Objet : </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext"
                       aria-describedby="email" value="{{ comments.object }}" disabled>
            </div>
            <label class="col-sm-4 col-form-label">Demande : </label>
            <div class="col-sm-8">
                <textarea readonly class="form-control" disabled>{{ comments.message }}</textarea>
            </div>
        </div>
    </form>

    <form class=" bg-light border m-3 p-3">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Réponse : </label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg m-4 mx-auto">Répondre</button>
        </div>
    </form>
{% endblock %}