{% extends 'adminLayout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

    <section>

        <h1>Gestion des messages : </h1>
        <div class="row">
            <table class="table col-12">
                <thead class="table-striped">
                <tr class="bg-warning">
                    <th scope="col">Nom</th>
                    <th scope="col">Date</th>
                    <th scope="col">Objet</th>
                    <th scope="col">Répondre</th>
                    <th scope="col">Archiver</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    {% for comment in comments %}
                        <tr>
                            <td>{{ comment.firstname }} {{ comment.lastname }}</td>
                            <td>{{ comment.date_time }}</td>
                            <td>{{ comment.object }}</td>
                            <td><button type="button" class="btn btn-success"><a class="text-white" href="/comments/answer/{{ comment.id }}">Répondre</a></button></td>
                            <td><button type="button" class="btn btn-dark"><a class="text-white" href="/comments/archive/{{ comment.id }}">Archiver</a></button></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </section>

{% endblock %}
